*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.html
*.bib
*.xlsx

**/analysis/

**BACKUP_HPC/

**/createinput/

**/doc/TRACE_figures/
**/doc/ODD_figures/
**/doc/.Rhistory
**/doc/Charisma_scheme.png
**/doc/TRACE.html
**/doc/TRACE.Rmd
**/doc/ODD.html
**/doc/ODD.Rmd
**/doc/ODD_save.md


**/experiment/experiment.Rproj
**/experiment/211128_theoreticalSpecies.R
**/experiment/220218_theoreticalSpecies_scenarios_selectedSpec.R


**/output/

**/input/
**/input_backup/

**/model/trash/
**/model/storage/
**/model/test.jl
**/model/virtualEcologist.jl

**/data/analysis
**/data/species_99t.txt

**/sensitivity/old
**/sensitivity/output
**/sensitivity/210422_runModel.R
**/sensitivity/sensitivity.Rproj
**/sensitivity/.Rhistory
**/sensitivity/210512_sensitivity_global_plot.Rmd
**/sensitivity/210512_sensitivity_likelihood_local_plot.Rmd
**/sensitivity/210422_sensitivity_likelihood_morris.R
**/sensitivity/210415_sensitivity_likelihood.R
**/sensitivity/210402_sensitivity_global.R
**/sensitivity/210402_sensitivity.R
**/sensitivity/211013_sensitivity_local.R
**/sensitivity/220318_sensitivity_global_plot_updatedModel.Rmd

**/optimizer_NN/

**/optimizer/output
**/optimizer/optimizer.Rproj
**/optimizer/210425_Optimizer_Liklihood_debug.R
**/optimizer/210425_Optimizer_Liklihood.R
**/optimizer/210323_Optimizer.R
**/optimizer/

**/scenarios/

**/history.xlsx
**/~$history.xlsx


.Rproj.user
